<!DOCTYPE html>
<html lang="en">
    <head>
        <title> <%- titulo %> </title>
        <%- include('partials/head.html') %>
    </head>
<body>
    <%- include('partials/header.html') %>
    <main class="contenedor2">
        <section class="general-panel-user">
            <h3><i class="fas fa-list"></i> RESUMEN GENERAL</h3>
            <div class="content-panel-user">
                <div class="notifications">
                    <h4>NOTIFICACIONES <i class="fas fa-bell"></i></h4>
                    <div class="notificacion-user">
                        <p><i class="fas fa-bell"></i> Tienes un nuevo aviso "Entregar calificaciones el día..."</p>
                    </div>
                    <div class="notificacion-user">
                        <p><i class="fas fa-bell"></i> Roberto Mendoza acaba de entregar la tarea para "Realizar cuadro comparativo..."</p>
                    </div>
                    <div class="notificacion-user">
                        <p><i class="fas fa-bell"></i> Publicaste con éxito la tarea de "Explicar las razones de la gran depresión..."</p>
                    </div>
                </div>
                <div class="homework">
                    <h4>ASIGNACIONES <i class="fas fa-book"></i></h4>
                    <div class="asignacion-user">
                        <p><i class="fas fa-book"></i> Todos los alumnos han entregado la tarea "Examen Parcial 2"</p>
                    </div>
                    <div class="asignacion-user">
                        <p><i class="fas fa-book"></i> Ya han entregado 12 de 13 alumnos la tarea "Resumen de la segunda guerra mundial"</p>
                    </div>
                </div>
                <div class="news">
                    <h4>AVISOS <i class="fas fa-bullhorn"></i></h4>
                    <div class="aviso-user urgente">
                        <h5>
                            <i class="fas fa-exclamation-triangle"></i> Critico
                        </h5>
                        <p>
                            <i class="fas fa-comment"></i> A todos los profesores, se les informa que la semmana para entregar calificaciones es 
                            del 1 de junio al 5 de junio, favor de presentar las calificaiones en la plataforma en tiempo y forma...
                        </p>
                        <p>
                            <i class="fas fa-clock"></i> Del 1 de junio a las 12:00 AM
                        </p>
                        <p>
                            <i class="fas fa-clock"></i> Al 5 de junio a las 11:59 PM
                        </p>
                        <p>
                            <i class="fas fa-users"></i> Todos los profesores
                        </p>
                    </div>
                    <div class="aviso-user importante">
                        <h5>
                            <i class="fas fa-exclamation-circle"></i> Importante
                        </h5>
                        <p>
                            <i class="fas fa-comment"></i> A los profesores de 3ro de prepa, se les informa que algunos alumnos se encuentran ausentes
                            por la feria de ciencias Info Matrix, les haremos llegar la lista de alumnos a traves del grupo de Whatsapp...
                        </p>
                        <p>
                            <i class="fas fa-clock"></i> Del 09 de mayo a las 12:00 AM
                        </p>
                        <p>
                            <i class="fas fa-clock"></i> Al 13 de mayo a las 11:59 PM
                        </p>
                        <p>
                            <i class="fas fa-users"></i> Solo algunos profesores
                        </p>
                    </div>
                    <div class="aviso-user considerar">
                        <h5>
                            <i class="fas fa-exclamation"></i> Considerar
                        </h5>
                        <p>
                            <i class="fas fa-comment"></i> Profesor, se le informa que por recomendaciones de la dirección, considere implemetar diversas formas
                            de evaluar a los alumnos, para que estos tenga mayor oportunidad de cumplir con el programa de evaluación...
                        </p>
                        <p>
                            <i class="fas fa-clock"></i> Del 09 de mayo a las 12:00 AM
                        </p>
                        <p>
                            <i class="fas fa-clock"></i> Al 09 de mayo a las 11:59 PM
                        </p>
                        <p>
                            <i class="fas fa-users"></i> Solo yo
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer.html') %>
    <script src="/js/index.js" type="text/javascript"></script>
</body>
</html>