<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login-plataforma.css">
    <title>Login Plataforma INEI</title>
</head>
<body>
    <form id="formulario-login">
        <h3>Login</h3>
        <label for="user">Usuario</label>
        <input type="text" id="user" name="Usuario">
        
        <label for="password">Password</label>
        <div class="div-input-password">
            <input type="password" id="password" name="Password">
            <i class="fas fa-eye" id="eye-show-password"></i>
        </div>
        <button id="button-enviar" type="button">Enviar</button>
        <div class="opciones-login">
            <div>
                <input type="checkbox" id="checkbox-recordar">Recordarme
            </div>
            <!-- <a href="#">Olvidé mi contraseña</a> -->
        </div>
    </form>
    <script src="/js/login-plataforma.js" type="module"></script>
</body>
</html>