<header>
    <div class="contenedor">
        <img src="/img/logo-inei-blanco.png" alt="Logo INEI" class="logo">
        <nav>
            <ul>
                <li class="pagina-activa">
                    <a href="#"><i class="fas fa-home"></i></a>
                    <p>INICIO</p>
                </li>
                <li>
                    <a href="#"><i class="fas fa-users"></i></a>
                    <p>MIS GRUPOS</p>
                </li>
                <li>
                    <a href="#"><i class="fas fa-toolbox"></i></a>
                    <p>CAPACITACIÓN</p>
                </li>
                <li>
                    <a href="#"><i class="fas fa-clipboard-list"></i></a>
                    <p>PROGRAMA</p>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user"></i></a>
                    <p>PLATAFORMA</p>
                </li>
            </ul>
        </nav>
    </div>
</header>